<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mk8randomizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher8"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher8_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mk8randomizer.Fullscreen"
        tools:ignore="ExtraText">
        <activity
            android:name=".VehicleSelector"
            android:exported="false" />
        <activity
            android:name=".StartupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_startup"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mk8randomizer.Fullscreen.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RandomMaps"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mk8randomizer.Fullscreen" />
        <activity
            android:name=".MapsSelector"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_maps_selector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mk8randomizer.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mk8randomizer.Fullscreen" />
    </application>

</manifest>